<table>
  <thead>
    <tr>
      <th>Color name <button (click)='sortColorsByName("asc")'>ASC</button><button (click)='sortColorsByName("desc")'>DESC</button></th>
      <th>Color value <button (click)='sortColorsByValue("asc")'>ASC</button><button (click)='sortColorsByValue("desc")'>DESC</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let color of colors'>
      <td>{{color.colorName}}</td>
      <td [ngStyle]="{'background-color': color.hexValue}"></td>
    </tr>
  </tbody>
</table>

